<div class="container">
  <div class="element">
    <% @users.each do |user| %>
      <div class="user">
        <%= link_to user_path(user) do %>
          <div class="name"><%= user.name %>
          <% if user.id != current_user.id%>  
            <%= link_to "ユーザーへメッセージ", user_path(user), class: "text-white" %>
          <% elsif user.id == current_user.id %>
            <%= link_to "メモ", user_path(user), class: "text-white" %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>